@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
  --bg-color:#131722;
  --main-font:'Montserrat', sans-serif;
  --light-bg:#24baef;
  --font-color:#fff;

}
body{
  background-color: var(--bg-color);
  font-family: var(--main-font);
  color: var(--font-color);
}
a{
  text-decoration: none;
  color: var(--font-color);
}
.my-input{
  background-color: transparent;
  border: solid 1px #a8a8a83d;
  color:#ffffff;
}
.cursor-pointor{
  cursor: pointer;
}
.brdr{
  height: 1px;
  background-color:  #a8a8a83d;
}
.vote{
  background-color: var(--light-bg);
}
.offline{
  background-color: var(--bg-color);
  box-shadow: 10px 10px 10px #ccc;
  padding: 20px;
  position: fixed;
  left: 50px;
  bottom: 50px;
  z-index: 999;
}